#app {
    font-family: 'Open Sans', sans-serif;
    
    .table {
      margin: 0.2em;
      display: flex;
      flex-direction: column;
      
      .header, .row {
        display: flex;
        
        div {
          flex: 2;
          padding: 0.3rem 0em;
          border: 1px solid rgb(238, 238, 238);
        }
  
        .remove {
          border: 0;
          background-color: white;
          text-align: left;
          font-weight: 300;
          flex: 0 0 80px;
          
          a {
            text-decoration: none;
            color: blueviolet;
          }
        }
      }
      
      .header {
        background-color: rgb(238, 238, 238);
        div { 
          cursor: pointer;
        }
      }
    }
  }